@model IQueryable<VideoGame>

@{
    ViewData["Title"] = "Home";
}
<DocType html>
<div class="text-center">
    <h1 class="display-4">Welcome To Video Game Store</h1>
    <a class="btn btn-primary" asp-Controller="Home" asp-action="VideoGameForm">Form for adding a videogame to the List</a>
</div>
<div class="row">
@foreach (var p in Model ?? Enumerable.Empty<VideoGame>())
{
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
            <img src="~/Images/placeholder.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@p.ProductName</h5>
                <h6 class="card-subtitle text-muted">@p.Price.ToString("c")</h6>
                <p class="card-text">@p.Description</p>
                <td>
                  @Html.ActionLink("Edit","VideoGamesEdit", new{id=p.ProductID}) |
                  @Html.ActionLink("Details","VideoGamesDetails", new{id=p.ProductID}) |
                  @Html.ActionLink("Delete","VideoGamesDelete", new{id=p.ProductID}) 
                </td>    
                <hr/>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
}
</div>