@model VideoGame
@{
    ViewData["Title"] = $"Details - {Model.ProductID}";
}
<DocType html>
<div class="card" style="width: 15rem;">
    <img src="~/Images/placeholder.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.ProductName</h5>
        <h6 class="card-subtitle text-muted">@Model.Price.ToString("c")</h6>
        <p class="card-text">@Model.Description</p>
        <td>
            <a class="" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
            @Html.ActionLink("Delete", "VideoGamesDelete", new { id = Model.ProductID })
        </td>
        <hr />
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>