@model List<OrderWithTotal>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Orders History for @User.Identity?.Name</b>
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr>
                    <td><b>Order ID</b></td>
                    <td><b>Order Name</b></td>
                    <td><b>Address Line 1</b></td>
                    <td><b>Item(s) Ordered</b></td>
                    <td><b>Order Total</b></td>
                </tr>
            </thead>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Order.OrderID</td>
                    <td>@order.Order.Name</td>
                    <td>@order.Order.Line1</td>
                    <td>@order.Order.Lines.Count</td>
                    <td>@order.Total.ToString("c")</td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        <a class="btn btn-secondary" asp-controller="Admin" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
            </svg>
            Back
        </a>
    </div>
</div>